[submodule "submodules/cppformat"]
	path = submodules/cppformat
    url = https://github.com/cppformat/cppformat.git
    ignore = dirty
[submodule "submodules/libev"]
	path = submodules/libev
	url = https://github.com/mendsley/libev.git
    ignore = dirty
[submodule "submodules/c-ares"]
	path = submodules/c-ares
	url = https://github.com/bagder/c-ares.git
    ignore = dirty
[submodule "submodules/REACT-CPP"]
	path = submodules/REACT-CPP
	url = https://github.com/pmelendez/REACT-CPP.git
